/* 
 ----------COLORS----------

 Primary: #47bbc5 

 purple-light: #C892F9 
 purple-dark: #A460EB 

 blue-light: #70A3D5 
 blue-dark: #6767D2 

 yellow-light: #FDB685 
 yellow-dark: #FE888E 

*/

:root {
  /* Make 1 rem = 10px */
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins;
  color: #333;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

/*

 header start

*/

.header {
  grid-column: 10 span;
  height: 9vh;

  display: flex;
}

.header__logo {
  width: 20%;
  color: #47bbc5;
  font-weight: 900;
  font-size: 4rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

/*

 header end

*/

/*

 sidebar start

*/

.sidebar {
  grid-column: 2 span;
  min-height: 91vh;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top:6rem ;
  padding-bottom:6rem ;
}

.user-info {display: flex;
align-items: center;
}
.user-image {
  width:5rem;
  height: 5rem;
  border-radius: 100%;
  margin-right: 1rem;
  
}
.user-neme {font-size: 1.6rem;
  font-weight:bold;

}
.user-gmail {
}
.items {margin-top: 2.5rem;
}
.item {display: flex;
  justify-content: space-between;
  font-size:1.5rem;
  margin-bottom: 1rem;
  list-style-type: none;
}
.item:hover{
  color: #47bbc5;
}
.sidebar-link {background: linear-gradient(to bottom,#94e3eb,#3fafb9);
  color: #fff;
 width: 100%;
 text-decoration: none;
 display: inline-block;
font-size: 1.6rem;
text-align: center;
padding: 1rem;
border-radius: 3px;
margin-top: 2rem;
}
/*

 sidebar end

*/

.main {
  background-color: #f5f5f5;
  grid-column: 8 span;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  padding: 4.5rem 4rem;
}

.title {
  height: 4rem; /* Remove it */
}

/*

 cards start

*/

.cards {
  height: 25rem; /* Remove it */
  background-color: red; /* Remove it */
}

/*

 cards end

*/

/*

 table start

*/

.table {
  background-color: #fff;
  border-radius: 2rem;
  padding: 2.5rem 4rem;
}

.table__title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.table__container {
  width: 100%;
  text-align: left;
  font-size: 1.4rem;
}

.table__row > * {
  padding-bottom: 2rem;
}

.table__head {
  width: 23%;
}

.table__state {
  color: #fff;
  text-align: center;
}

.table__state-span {
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 2px;
}

.table__state--verified {
  background-image: linear-gradient(to bottom, #c892f9, #a460eb);
}

.table__state--active {
  background-image: linear-gradient(to bottom, #70a3d5, #6767d2);
}

.table__state--disable {
  background-image: linear-gradient(to bottom, #fdb685, #fe888e);
}

/*

 table end

*/
